<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="classes/config/spring/beans/DataSource.xml"/>
	<import resource="classes/config/spring/beans/HibernateSessionFactory.xml"/>
	
	<import resource="classes/com/mkgb/uzytkownik/spring/UzytkownikBean.xml"/>
	<import resource="classes/com/mkgb/oferta/spring/OfertaBean.xml"/>
	<import resource="classes/com/mkgb/zapis/spring/ZapisBean.xml"/>
</beans>